

table {
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}
nav{
    width: 48%;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: cadetblue;
    text-align: center;

}
.menu > li {
    display: inline;
    list-style: none;
    padding: 10px;
}
 a {
    text-decoration: none;
   }